@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
}

.login-form {
  background: rgba(100, 0, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(25px);
  text-align: center;
  color: white;
  width: 400px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
}

.login-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.input-box {
  margin: 20px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px 12px 12px 45px;
  border-radius: 99px;
  outline: 3px solid transparent;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  font-weight: 600;
}

.toggle-eye {
  display: none;
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  top: 15px;
  font-size: 20px;
}

.toggle-eye.close {
  transition: 0.4s all ease-in-out;
}

.toggle-eye.open {
  transition: 0.2s all ease-out;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-weight: 500;
}

.input-box input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.3);
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.remember-forgot-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 15px;
}

.remember-forgot-box label {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.remember-forgot-box input {
  accent-color: white;
  cursor: pointer;
}

.remember-forgot-box a {
  color: white;
  text-decoration: none;
}

.remember-forgot-box a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 10px 0;
  background: #2f9cf4;
  border: none;
  border-radius: 99px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #0b87ec;
}

.register {
  margin-top: 15px;
  font-size: 15px;
}

.register a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.register a:hover {
  text-decoration: underline;
}
